aside{
    position: fixed;
    top: 0px;
    left: 0px;
    width: var(--aside-width);
    background-color: var(--second-background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    }
    aside img{
        width: 150px;
        height: 150px;
        align-self: center;
    }
    aside .actual-page{
        background-color: var(--background-color);
    }
    aside .nav-home{
        display: flex;
        align-self: flex-end;
        height: 40px;
        align-items: center;
        padding-left: 20px;
        padding-right: 10px;
        border-radius: 20px 0px 0px 20px;
        cursor: pointer;
        width: 110px;
        }
        aside .nav-home div{
            margin-right: 5px;
        }

@media screen and (max-width:600px){
    aside{
        display: none;
    }
}

@media screen and (max-height:600px) {
    aside{
        display: none;
    }
}
